
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="/src/assets/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/src/assets/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/src/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/src/assets/css/slider-radio.css">
  <link rel="stylesheet" href="/src/assets/css/select2.min.css">
  <link rel="stylesheet" href="/src/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/src/assets/css/plyr.css">
  <link rel="stylesheet" href="/src/assets/css/main.css">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
  <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Dmitry Volkov">
  <title>FlixTV – Movies & TV Shows, Online cinema HTML Template</title>
  <style>
    body {
      overflow-y: hidden; /* يشيل السكروول العمودي */
    }

    .nav-tabs .nav-link {
      /* margin-bottom: -1px; */
      border: 0px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }

      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border-color: none;
      }

    .sign__input {
      /* background-color: #151f30; */
      border: 1px solid #fff;
      border-radius: 16px;
      height: 44px;
      position: relative;
      color: #fff;
      font-size: 14px;
      width: 100%;
      padding: 0 20px;
    }

    .fa-star {
      color: #ccc; /* نجمة غير مفعلة */
    }

    .checked {
      color: gold; /* النجمة المفعلة */
    }
    .custom-review-btn {
      background: linear-gradient(135deg, #00c9ff, #92fe9d);
      color: #000;
      font-weight: 600;
      border: none;
      padding: 12px 30px;
      border-radius: 50px;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      font-size: 16px;
    }

      .custom-review-btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        background: linear-gradient(135deg, #92fe9d, #00c9ff);
        color: #000;
      }

  </style>

</head>
  <!-- end head -->
  <!-- profile -->
  <div class="catalog catalog--page">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="profile">
            <div class="profile__user">
              <div class="profile__avatar">
                <img src="assets/img/avatar.svg" alt="">
              </div>
              <div class="profile__meta">
                <h3>{{container.fullName}}</h3>
              </div>
            </div>
            <!-- tabs nav -->
            <ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Profile</a>
              </li>

              <!--<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Favorites</a>
              </li>-->

              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Settings</a>
              </li>
            </ul>
            <!-- end tabs nav -->

            <button class="profile__logout" type="button">
              <span>Sign out</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- content tabs -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
          <div class="row row--grid">
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
              <div class="dashbox">
                <div class="dashbox__title">
                  <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,2a1,1,0,0,0-1,1V5H18V3a1,1,0,0,0-2,0V4H8V3A1,1,0,0,0,6,3V5H4V3A1,1,0,0,0,2,3V21a1,1,0,0,0,2,0V19H6v2a1,1,0,0,0,2,0V20h8v1a1,1,0,0,0,2,0V19h2v2a1,1,0,0,0,2,0V3A1,1,0,0,0,21,2ZM6,17H4V15H6Zm0-4H4V11H6ZM6,9H4V7H6Zm10,9H8V13h8Zm0-7H8V6h8Zm4,6H18V15h2Zm0-4H18V11h2Zm0-4H18V7h2Z" /></svg> Movies for you</h3>
                </div>

                <div class="dashbox__table-wrap dashbox__table-wrap--1">
                  <table class="main__table main__table--dash">
                    <thead>
                      <tr>
                        <th>bookingDate</th>
                        <th>startTime</th>
                        <th>endTime</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of  container2">
                        <td>
                          <div class="main__table-text"><a href="#">{{item.bookingDate}}</a></div>
                        </td>
                        <td>
                          <div class="main__table-text"><a href="#">{{item.startTime}}</a></div>
                        </td>
                        <td>
                          <div class="main__table-text"><a href="#">{{item.endTime}}</a></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- dashbox -->
            <div class="col-12 col-xl-6">
              <div class="dashbox">
                <div class="dashbox__title">
                  <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,2a1,1,0,0,0-1,1V5H18V3a1,1,0,0,0-2,0V4H8V3A1,1,0,0,0,6,3V5H4V3A1,1,0,0,0,2,3V21a1,1,0,0,0,2,0V19H6v2a1,1,0,0,0,2,0V20h8v1a1,1,0,0,0,2,0V19h2v2a1,1,0,0,0,2,0V3A1,1,0,0,0,21,2ZM6,17H4V15H6Zm0-4H4V11H6ZM6,9H4V7H6Zm10,9H8V13h8Zm0-7H8V6h8Zm4,6H18V15h2Zm0-4H18V11h2Zm0-4H18V7h2Z" /></svg> Movies for you</h3>
                </div>

                <div class="dashbox__table-wrap dashbox__table-wrap--1">
                  <table class="main__table main__table--dash">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Review Conent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of  contenerrate">
                        <td>
                          <div class="main__table-text"><a href="#">{{item.movieTitle}}</a></div>
                        </td>
                        <td>
                          <div class="main__table-text">
                            <ng-container *ngFor="let star of [1,2,3,4,5]">
                              <i class="fa fa-star" [ngClass]="star <= item.rating ? 'checked' : ''"></i>
                            </ng-container>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-end mt-4 d-flex justify-content-end">
                  <button class="custom-review-btn" routerLink="/addRatingFormovies/{{ userId }}">
                    ✍️ Leave a Review
                  </button>
                </div>
              </div>
            </div>
            <!-- end dashbox -->
          </div>
        </div>
        <div class="tab-pane fade" id="tab-3" role="tabpanel">
          <div class="row">
            <!-- Profile Form -->
            <div class="col-12 col-lg-6">
              <form #updatee="ngForm" (ngSubmit)="editExistingUsers(updatee.value)">
                <h4 class="sign__title">Profile details</h4>

                <div class="sign__group">
                  <label class="sign__label">UserName</label>
                  <input type="text" name="fullName" ngModel class="sign__input" placeholder="User123">
                </div>

                <div class="sign__group">
                  <label class="sign__label">Email</label>
                  <input type="text" name="email" ngModel class="sign__input" placeholder="email@email.com">
                </div>

                <div class="sign__group">
                  <label class="sign__label">Phone</label>
                  <input type="text" name="phone" ngModel class="sign__input" placeholder="079...">
                </div>

                <button class="sign__btn" type="submit">Update Info</button>
              </form>
            </div>

            <!-- Password Form -->
            <div class="col-12 col-lg-6">
              <form #changeForm="ngForm" (ngSubmit)="changePassword(changeForm.value)">
                <h4 class="sign__title">Change password</h4>

                <div class="sign__group">
                  <label class="sign__label">Old password</label>
                  <input type="password" name="oldpass" ngModel class="sign__input">
                </div>

                <div class="sign__group">
                  <label class="sign__label">New password</label>
                  <input type="password" name="newpass" ngModel class="sign__input">
                </div>
                <button class="sign__btn" type="submit">Change</button>
              </form>

            </div>
          </div>

        </div>
      </div>
      <!-- end content tabs -->
    </div>
  </div>
  <!-- end profile -->
  <!-- end modal top-up -->
  <!-- JS -->
  <script src="/src/assets/js/jquery-3.5.1.min.js"></script>
  <script src="/src/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/src/assets/js/owl.carousel.min.js"></script>
  <script src="/src/assets/js/slider-radio.js"></script>
  <script src="/src/assets/js/select2.min.js"></script>
  <script src="/src/assets/js/smooth-scrollbar.js"></script>
  <script src="/src/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/src/assets/js/plyr.min.js"></script>
  <script src="/src/assets/js/main.js"></script>
