<!-- ==========Preloader========== -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#" class="scrollToTop">
  <i class="fal fa-long-arrow-alt-up"></i>
</a>
<!-- ==========Overlay========== -->
<!-- ==========Header-Section========== -->
<header class="header-section">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a href="index.html">
          <img src="assets/Shared/img/logo/logo.png" alt="logo">
        </a>
      </div>
      <ul class="menu">
        <li>
          <a href="#" class="active">Home</a>

        </li>
        <li>
          <a href="movie">movies</a>
          <!--<ul class="submenu">
            <li>
              <a href="movie-grid.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Grid</a>
            </li>
            <li>
              <a href="movie-list.html"><i class="fal fa-long-arrow-alt-right"></i>Movie List</a>
            </li>
            <li>
              <a href="movie-details.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Details</a>
            </li>
            <li>
              <a href="movie-details-2.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Details 02</a>
            </li>
            <li>
              <a href="movie-ticket-plan.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Ticket Plan</a>
            </li>
            <li>
              <a href="movie-seat-plan.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Seat Plan</a>
            </li>
            <li>
              <a href="movie-checkout.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Checkout</a>
            </li>
            <li>
              <a href="movie-food.html"><i class="fal fa-long-arrow-alt-right"></i>Movie Food</a>
            </li>
          </ul>-->
        </li>
        <li>
          <a href="Contact">Contact</a>
         
        </li>
        <li>
          <!--<a href="Checkout">Checkout</a>-->
        
           
          <a href="#">pages</a>
          <!--<ul class="submenu">
            <li>
              <a href="about.html"><i class="fal fa-long-arrow-alt-right"></i>About Us</a>
            </li>
            <li>
              <a href="apps-download.html"><i class="fal fa-long-arrow-alt-right"></i>Apps Download</a>
            </li>
            <li>
              <a href="team.html"><i class="fal fa-long-arrow-alt-right"></i>Team</a>
            </li>
            <li>
              <a href="pricing.html"><i class="fal fa-long-arrow-alt-right"></i>Pricing</a>
            </li>
            <li>
              <a href="login.html"><i class="fal fa-long-arrow-alt-right"></i>Login</a>
            </li>
            <li>
              <a href="register.html"><i class="fal fa-long-arrow-alt-right"></i>Register</a>
            </li>
            <li>
              <a href="forgot-password.html"><i class="fal fa-long-arrow-alt-right"></i>Forgot Password</a>
            </li>
            <li>
              <a href="faq.html"><i class="fal fa-long-arrow-alt-right"></i>Faq</a>
            </li>
            <li>
              <a href="term-condition.html"><i class="fal fa-long-arrow-alt-right"></i>Terms & Conditions</a>
            </li>
            <li>
              <a href="privacy-policy.html"><i class="fal fa-long-arrow-alt-right"></i>Privacy Policy</a>
            </li>
            <li>
              <a href="404.html"><i class="fal fa-long-arrow-alt-right"></i>404</a>
            </li>
          </ul>-->
        </li>
        <li>
          <a href="About">About</a>
         
        </li>
        <!--<li>
          <a href="contact.html">contact</a>
        </li>-->
        <li class="header-button pr-0">
          <a href="LogIn">join us</a>
        </li>
      </ul>
      <div class="header-bar d-lg-none">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
