<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner" style="background: url('assets/img/banner/banner-2.jpg');">
  <div class="container">
    <div class="speaker-banner-content">
      <h2 class="title">Terms & Conditions</h2>
      <ul class="breadcrumb">
        <li>
          <a href="index.html">
            Home
          </a>
        </li>
        <li>
          Terms & Conditions
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Term-Condition-Section========== -->
<section class="padding-top padding-bottom">
  <div class="container">
    <div class="mb-4">
      <h3 class="mb-2">There are many variations </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2">Distracted by the readable content </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2">Contrary to popular belief </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
    </div>
    <div class="mb-4">
      <h3 class="mb-2">Sed ut perspiciatis unde omnis iste </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
      <ul class="ml-5 mt-4">
        <li>- The point of using </li>
        <li>- There are many variation</li>
        <li>- Ut aut reiciendis voluptatibus</li>
        <li>- Denounce with righteous indignation</li>
        <li>- Frequently occur that pleasures</li>
        <li>- Certain circumstances and owing</li>
        <li>- This principle of selection</li>
      </ul>
    </div>
    <div class="mb-4">
      <h3 class="mb-2">At vero eos et accusamus et iusto odio </h3>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
    </div>
  </div>
</section>
<!-- ==========Term-Condition-Section========== -->
